{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1 class="display-4">Handy Man Tracking System</h1>
            <p class="lead">If the girls don't find you handsome. At least they will find you handy.</p>

            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="{% static "images/handy.jpg" %}" width="220" alt="handy"/>
                                    <div class="caption">
                                        <h2>Track</h2>
                                        <p>List All Tickets</p>
                                        <p><a class="btn btn-primary" href="{% url "ticket_list" %}" role="button">Click</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="{% static "images/handy.jpg" %}" width="220" alt="handy"/>
                                    <div class="caption">
                                        <h2>New Ticket</h2>
                                        <p>Create a Ticket</p>
                                        <p><a class="btn btn-primary" href="{% url 'ticket_new' %}" role="button">Click</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="{% static "images/handy.jpg" %}" width="220" alt="handy"/>
                                    <div class="caption">
                                        <h2>Open Tickets</h2>
                                        <p>List only the open tickets</p>
                                        <p><a class="btn btn-primary" href="{% url 'open_tickets' %}" role="button">Click</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome Handy People.</h1>
            <p class="lead">This is a simple home improvement tracking system.</p>
            <hr class="my-4">
            <p>You can sign up as a handy person, or as a customer.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'email' %}" role="button">Contact Us</a>
        </div>
    {% endif %}
{% endblock content %}
